<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}  <!-- Inject template from __dirname/views/partials/header.hbs -->
  <p>About: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima perferendis dicta enim odio molestiae non. Rerum earum sapiente reiciendis, veritatis, nostrum, quidem cupiditate iusto adipisci et tempora aut blanditiis!</p>
  {{> footer}}  <!-- Inject template from __dirname/views/partials/footer.hbs -->
</body>
</html>
